# more about codeowners below:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @launchdarkly/squad-integrations

# Content
.cspell/custom-words.txt @launchdarkly/squad-docs
*.md @launchdarkly/squad-docs
*.mdx @launchdarkly/squad-docs
/assets/ @launchdarkly/squad-docs
/src/content/*.json @launchdarkly/squad-docs
/src/content/icons @launchdarkly/squad-docs
/src/content/images @launchdarkly/squad-docs
/templates/ @launchdarkly/squad-docs
redirectRules.js @launchdarkly/squad-docs

# EOL data
/src/content/sdkVersions.json @launchdarkly/squad-sdk
/src/content/relayVersions.json @launchdarkly/squad-sdk
