# more about codeowners below:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @launchdarkly/squad-developer-flow

# Content
.cspell/custom-words.txt @launchdarkly/docs-reviewers
*.md @launchdarkly/docs-reviewers
*.mdx @launchdarkly/docs-reviewers
/assets/ @launchdarkly/docs-reviewers
/src/content/*.json @launchdarkly/docs-reviewers
/src/content/icons @launchdarkly/docs-reviewers
/templates/ @launchdarkly/docs-reviewers
redirectRules.js @launchdarkly/docs-reviewers

# EOL data
/src/content/sdkVersions.json @launchdarkly/squad-sdk
/src/content/relayVersions.json @launchdarkly/squad-sdk
