name: Deploy to Staging
on:
  workflow_dispatch:
    inputs:
      PR_NUMBER:
        required: true
        description: The pull request number which triggered this workflow
    branches-ignore:
      - main
  pull_request:
    types: [assigned, opened, synchronize, reopened]
  push:
    branches:
      - '*-eap'

env:
  BUCKET_PREFIX: ${{ github.event.pull_request.number || github.event.inputs.PR_NUMBER || github.ref_name }}

jobs:
  build-deploy:
    if: ${{ github.event.pull_request.number != '' || github.event.inputs.PR_NUMBER != '' || endsWith(github.ref_name, '-eap') }}
    runs-on: ubuntu-latest
    name: Deploy to s3 staging
    permissions:
      id-token: write
      contents: read
      actions: write
    environment:
      name: staging
      url: http://docs-stg.launchdarkly.com/${{ env.BUCKET_PREFIX }}
    concurrency:
      group: staging-${{ github.event.pull_request.number || github.event.inputs.PR_NUMBER || github.ref_name }}
      cancel-in-progress: true
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/workflows/build-deploy
        with:
          environment: staging
          secret_github_token: ${{ secrets.GITHUB_TOKEN }}
          secret_gh_token: ${{ secrets.GH_TOKEN }}
          secret_algolia_admin_key: ${{ secrets.ALGOLIA_ADMIN_KEY }}
          secret_gatsby_algolia_app_id: ${{ secrets.GATSBY_ALGOLIA_APP_ID }}
          secret_gatsby_algolia_search_key: ${{ secrets.ALGOLIA_SEARCH_KEY }}
          secret_launchdarkly_client_side_id: ${{ secrets.STG_LAUNCHDARKLY_CLIENT_SIDE_ID }}
          secret_gatsby_datadog_client_token: ${{ secrets.STG_DATADOG_CLIENT_TOKEN }}
          secret_gatsby_datadog_rum_application_id: ${{ secrets.DATADOG_RUM_APPLICATION_ID }}
          secret_datadog_rum_client_token: ${{ secrets.DATADOG_RUM_CLIENT_TOKEN }}
          secret_track_js_token: ${{ secrets.TRACKJS_TOKEN }}
          secret_docs_deploybot_webhook_url: ${{ secrets.DOCS_DEPLOYBOT_WEBHOOK_URL }}
          aws_prod_role_arn: ${{ vars.AWS_PROD_ROLE_ARN }}
          aws_role_arn: ${{ vars.AWS_STAGING_ROLE_ARN }}

  smoke-test:
    needs: build-deploy
    runs-on: ubuntu-latest
    name: Smoke test staging
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/workflows/smoke-test
        with:
          environment: staging
          secret_cypress_record_key: ${{ secrets.CYPRESS_RECORD_KEY }}
          secret_github_token: ${{ secrets.GITHUB_TOKEN }}
          secret_docs_deploybot_webhook_url: ${{ secrets.DOCS_DEPLOYBOT_WEBHOOK_URL }}
      
