name: Smoke test Production
on: workflow_dispatch

jobs:
  smoke-test:
    runs-on: ubuntu-latest
    name: Smoke test production
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cypress run
        timeout-minutes: 7
        uses: cypress-io/github-action@v3.1.0 # must be locked because of yarn berry issue
        with:
          # Note: this is used because of cypress yarn berry issue
          # https://github.com/cypress-io/github-action/issues/430#issuecomment-1144054512
          command: yarn dlx cypress run --headless --record --tag production,smoke --config baseUrl=https://docs.launchdarkly.com,retries=2 --spec cypress/e2e/smoke.cy.ts
          install-command: yarn install --immutable
          build: yarn build-nav-data
          config: baseUrl=https://docs.launchdarkly.com,retries=2
          wait-on: 'https://docs.launchdarkly.com/home'
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Check Cypress outcome
        if: steps.cypress.outcome == 'failure' || steps.cypress.outcome == 'cancelled'
        run: exit 1
